<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.defr.hotdealradar.mapper.DealManageMapper">
    <select id="selectDealAll" resultType="DealVo">
        select * from hdr_deal;
    </select>

    <select id="selectDeal" parameterType="java.util.HashMap" resultType="DealVo">
        select * from hdr_deal order by regi_date desc limit #{limit} offset #{offset};
    </select>

    <select id="selectDealCnt" resultType="java.lang.Integer">
        select count(*) from hdr_deal;
    </select>

    <insert id="insertDeal" parameterType="DealVo">
        insert into hdr_deal(id, number, site, title, seller, regi_date, link)
        values(#{id}, #{number}, #{site}, #{title}, #{seller}, #{regi_date}, #{link}) on duplicate key
        update title = #{title}, seller = #{seller};
    </insert>



</mapper>