html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    height: 10%;
}

#container {
    height: 80%;
    /* background-color: aliceblue; */
}

#footer {
    height: 10%;
}

.align-tl { display: flex; align-items: flex-start; justify-content: flex-start; }
.align-tc { display: flex; align-items: flex-start; justify-content: center; }
.align-tr { display: flex; align-items: flex-start; justify-content: flex-end; }

.align-cl { display: flex; align-items: center; justify-content: flex-start; }
.align-cc { display: flex; align-items: center; justify-content: center; }
.align-cr { display: flex; align-items: center; justify-content: flex-end; }

.align-bl { display: flex; align-items: flex-end; justify-content: flex-start; }
.align-bc { display: flex; align-items: flex-end; justify-content: center; }
.align-br { display: flex; align-items: flex-end; justify-content: flex-end; }

.hide-scroll {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* 파폭 */
}
.hide-scroll::-webkit-scrollbar {
    display: none; /* 크롬 */
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.page-text {
    font-size: 1.5em;
}
.page-text.current {
    font-weight: bold;
}

